.popup {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 7%;
  margin: 10px;
  width: 300px;
  height: fit-content;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background-color: inherit;
  z-index: 9999;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
}

.popup__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.word {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.list {
  list-style-type: none;
}

.content {
  margin-bottom: 10px;
}

.partOfSpeech {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
