.popup {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 7%;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background-color: inherit;
  z-index: 9999;
}
